# CORE LIBRARIES
pandas
numpy
scipy

# TECHNICAL ANALYSIS
ta
pandas_ta

# MACHINE LEARNING & OPTIMIZATION
scikit-learn
optuna
joblib
dacite

# DATA & API CONNECTORS
yfinance
dukascopy-python
requests
tqdm

# DATABASE & CONFIG
SQLAlchemy
python-dotenv

# VISUALIZATION
matplotlib
seaborn